@font-face {
	font-family: Aenigma;
	src: url("fonts/aescrawl.eot?#iefix") format("embedded-opentype"),
		url("fonts/aescrawl.ttf") format("truetype");
}

body {
	background: url(../images/bg.jpg) repeat;
	font-family: Aenigma;
}

.headline {
	font-size: 60px;
	text-align: center;
	height: 65px;
	margin-top: 25px;
}

.message {
	font-size: 40px;
	text-align: center;
	margin-top: 25px;
}


.message-bottom {
	font-size: 40px;
	margin-top: 25px;
	margin: 95px auto;
  width: 750px;
}

.message-bottom span {
	float: left;
  margin-top: 10px;
}

.message-bottom .image {
	float: left;
  margin-left: 17px;
  display: inline;
  height: 43px;
  margin-top: 12px;
}

.contact {
	left: 50%;
	top: 50px;
	margin-left: -350px;
	position: relative;
	height: 350px;
	width: 700px;
}

.contact #postcard {
	position: absolute;
	width: 700px;
	height: 350px;
	border: 1px solid #000;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background: #fff;
}

.contact #postcard #poststamp {
	position: absolute;
	top: 30px;
	right: 40px;
	width: 100px;
	height: 86px;
}

.contact #postcard #center-line {
	position: relative;
	left: 50%;
	top: 5%;
	width: 1px;
	height: 90%;
	background: #000;
}

.contact #postcard .address-line {
	position: absolute;
	left: 55%;
	width: 220px;
	border-bottom: 1px solid #ccc;
}

.contact #postcard textarea {
	position: absolute;
	left: 30px;
	top: 30px;
	border: 0px;
}

.contact #postcard .address-line.address-line-name {
	top: 180px;
}

.contact #postcard .address-line.address-line-email {
	top: 215px;
}

.contact #postcard .address-line.address-line-city {
	top: 250px;
}

.contact #postcard .address-line input {
	width: 220px;
	border: 0px;
}

.contact #postcard input,.contact #postcard textarea {
	font-family: caption;
	font-size: 13px;
	font-style: italic;
}

.contact .submit {
	position: absolute;
	left: 25%;
	margin-left: -75px;
	bottom: 20px;
	padding: 1px 3px;
	width: 150px;
	border: 1px solid #000;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
}

.contact .submit:hover {
	background: #000;
	color: #fff;
	cursor: pointer;
}
